name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@v3
        with:
          github_user_name: SkySentinel-AI
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push to output branch
        uses: actions/upload-artifact@v3
        with:
          name: snake-svg
          path: dist/github-contribution-grid-snake.svg
